* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ecf2f8;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container {
    padding: 2%;    
}

#top-left {
    background-color: hsl(263, 55%, 52%);
    color: white; 
    position: relative;
    z-index: 1;
}

#top-right {
    background-color: hsl(217, 19%, 35%);
    color: white;
}

#bottom-left {
    flex-grow: 1;
    color: #48556a;
    
}

#bottom-right {
   background-color: black;
   color: white;
}

#side-bar {
    background-color: bisque;
    color: #48556a;
}

.grid-item {
    margin-right: 20px;
    margin-bottom: 20px;   
    padding: 20px;
    border-radius: 0.5rem;
    font-size: 13px;
    font-weight: 600;
}

.header {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.header img {
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid hsl(263, 55%, 52%);
}

.grid-item h4 {
    margin: 10px;
    font-size: 1.1rem;
}

.grid-item p {
    opacity: 70%;
}

.grid-item .name {
    opacity: 100%;
    font-size: 1rem;
}

#quote{
    position: absolute;
    top: 0;
    right: 7%;
    z-index: -1;
    opacity: 70%;

}

@media (min-width: 576px) {
    .container {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        overflow: hidden;   
    }
    
    .left-side {
        flex-basis: 75%;
        display: flex;
        flex-direction: column;
    }
    
    .top-box {
        display: flex;
        flex-grow:1;
        height: 50%;
        
    }
    
    .bottom-box {
        display: flex;
        flex-grow:1;
        height: 50%;   
    }
    
    #top-left {
        background-color: hsl(263, 55%, 52%);
        flex-grow: 2;     
    }
    
    #top-right {
        background-color: hsl(217, 19%, 35%);
        color: white;
    }
    
    #bottom-left {
        flex-grow: 1;
    }
    
    #bottom-right {
       flex-grow: 2;
    }
    
    #side-bar {
        flex-basis: 25%;
    }
}